html{
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: 
  url(assets/desk.jpg)
  no-repeat
  fixed
  padding-box
  content-box
  cadetblue;
  background-position: top left;
  background-size: cover;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5{
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #26a69a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #26a69a !important;
}
img#homeIcon {
  height: 55px;
  margin-top: 8px;
  position: absolute;
  top: 5px;
  left: 20px;
}
footer {
  position: relative;
  bottom: 0;
}
footer a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
.navSpan {
  padding-left: 8px;
  position: relative;
  bottom: 7px;
}